body {
    height: 800 px;
    width: 1000 px;
}

#baner {
    background-color: darkslateblue;
    height: 25%;
    width: 100%;
}

#baner2 {
    background-color: dodgerblue;
    height: 25%;
    width: 100%;
}

#baner3 {
    background-color: cornflowerblue;
    height: 25%;
    width: 50%;
    float: left;
}

#baner4 {
    background-color: darkkhaki;
    height: 25%;
    width: 50%;
    float: left;
}

#baner5 {
    background-color: bisque;
    height: 25%;
    width: 100%;
}